body,
* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin-top: 1vh;
  height: 19vh;
}

.main-camera {
  display: flex;
  flex-direction: column;
  /* in the middle of the screen because 20vh above and 20vh below */
  height: 60vh;
}

.camera {
  width: 100%;
  /* 5vh of space is left */
  max-height: 55vh;
  max-width: 1500px;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 20vh;
}
